<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="./">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/SpaceX-Logo.svg/2560px-SpaceX-Logo.svg.png"
                    width="150" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-active" href="./capsules">
                    Capsules
                </a>
                <a class="navbar-item" href="./cores">
                    Cores
                </a>
                <a class="navbar-item" href="./crew">
                    Crew
                </a>
                <a class="navbar-item" href="./dragons">
                    Dragons
                </a>
                <a class="navbar-item" href="./landpads">
                    Landpads
                </a>
                <a class="navbar-item" href="./launches">
                    Launches
                </a>
                <a class="navbar-item" href="./launchpads">
                    Launchpads
                </a>
                <a class="navbar-item" href="./payloads">
                    Payloads
                </a>
                <a class="navbar-item" href="./roadster">
                    Roadster
                </a>
                <a class="navbar-item" href="./rockets">
                    Rockets
                </a>
                <a class="navbar-item" href="./ships">
                    Ships
                </a>
                <a class="navbar-item" href="./starlink">
                    Starlink
                </a>
                <a class="navbar-item" href="./history">
                    History
                </a>
            </div>


        </div>
    </nav>

    <div class="table-container">
        <table
            class="table is-fullwidth has-sticky-column is-narrow is-striped is-bordered is-hoverable has-sticky-header has-sticky-footer">
            <thead>
                <tr>
                    <th><abbr title="Serial Number">SN</abbr></th>
                    <th><abbr title="ID">ID</abbr></th>
                    <th><abbr title="Type">Type</abbr></th>

                    <th><abbr title="Status">Status
                            <!-- <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                    Status
                                </a>

                                <div class="navbar-dropdown">
                                    <a class="navbar-item">
                                        Active
                                    </a>
                                    <a class="navbar-item">
                                        Retired
                                    </a>
                                    <a class="navbar-item">
                                        Destroyed
                                    </a>
                                    <a class="navbar-item">
                                        Unknown
                                    </a>
                                </div>
                            </div> -->
                        </abbr></th>
                    <th><abbr title="Launches">Launches</abbr></th>
                    <th><abbr title="Land Landings">Land Landings</abbr></th>
                    <th><abbr title="Water Landings">Water Landings</abbr></th>
                    <th><abbr title="Reuse Count">Reuse Count</abbr></th>
                    <th><abbr title="Last Update">Last Update</abbr></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th><abbr title="Serial Number">SN</abbr></th>
                    <th><abbr title="ID">ID</abbr></th>
                    <th><abbr title="Type">Type</abbr></th>
                    <th><abbr title="Status">Status</abbr></th>
                    <th><abbr title="Launches">Launches</abbr></th>
                    <th><abbr title="Land Landings">Land Landings</abbr></th>
                    <th><abbr title="Water Landings">Water Landings</abbr></th>
                    <th><abbr title="Reuse Count">Reuse Count</abbr></th>
                    <th><abbr title="Last Update">Last Update</abbr></th>

                </tr>
            </tfoot>
            <tbody>
                <% for( let x=0; x < capsules.length; x++ ) { %>
                    <% let capsule=capsules[x] %>
                        <tr>
                            <th>
                                <%= capsule.serial %>
                            </th>
                            <td>
                                <%= capsule.id %>
                            </td>
                            <td>
                                <%= capsule.type %>
                            </td>
                            <td>
                                <%= capsule.status %>
                            </td>
                            <td>
                                <% if (capsule.launches.length < 1) { %>
                                    <%= 'None' %>
                                        <% } else {%>
                                            <% for( let x=0; x < capsule.launches.length; x++ ) { %>
                                                <%= capsule.launches[x] %>
                                                    <br>
                                                    <% } %>
                                                        <% } %>
                            </td>
                            <td>
                                <%= capsule.land_landings %>
                            </td>
                            <td>
                                <%= capsule.water_landings %>
                            </td>
                            <td>
                                <%= capsule.reuse_count %>
                            </td>
                            <td style="max-width: 1000px; word-wrap: break-word;">
                                <% if (capsule.last_update===null) { %>
                                    <%= 'None' %>
                                        <% } else {%>
                                            <%= capsule.last_update %>
                                                <% } %>
                            </td>
                        </tr>
                        <% } %>
            </tbody>
        </table>
    </div>








</body>

</html>