<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="./">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/SpaceX-Logo.svg/2560px-SpaceX-Logo.svg.png"
                    width="150" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="./capsules">
                    Capsules
                </a>
                <a class="navbar-item" href="./cores">
                    Cores
                </a>
                <a class="navbar-item" href="./crew">
                    Crew
                </a>
                <a class="navbar-item is-active" href="./dragons">
                    Dragons
                </a>
                <a class="navbar-item" href="./landpads">
                    Landpads
                </a>
                <a class="navbar-item" href="./launches">
                    Launches
                </a>
                <a class="navbar-item" href="./launchpads">
                    Launchpads
                </a>
                <a class="navbar-item" href="./payloads">
                    Payloads
                </a>
                <a class="navbar-item" href="./roadster">
                    Roadster
                </a>
                <a class="navbar-item" href="./rockets">
                    Rockets
                </a>
                <a class="navbar-item" href="./ships">
                    Ships
                </a>
                <a class="navbar-item" href="./starlink">
                    Starlink
                </a>
                <a class="navbar-item" href="./history">
                    History
                </a>

                <!-- <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div> -->
            </div>


        </div>
    </nav>

    <div class="table-container">
        <table
            class="table is-fullwidth has-sticky-column is-narrow is-striped is-bordered is-hoverable has-sticky-header has-sticky-footer">
            <thead>
                <tr>
                    <th><abbr title="Name">Name</abbr></th>
                    <th><abbr title="ID">ID</abbr></th>
                    <th><abbr title="Type">Type</abbr></th>
                    <th><abbr title="Active">Active</abbr></th>
                    <th><abbr title="Crew Capacity">Crew Capacity</abbr></th>
                    <th><abbr title="First Flight">First Flight</abbr></th>
                    <th><abbr title="Dry Mass kg/lbs">Dry Mass kg/lbs</abbr></th>
                    <th><abbr title="Launch payload Mass/Vol">Launch payload Mass/Vol</abbr></th>
                    <th><abbr title="Return payload Mass/Vol">Return payload Mass/Vol</abbr></th>
                    <th><abbr title="Description">Description</abbr></th>
                    <th><abbr title="Diameter">Diameter</abbr></th>
                    <th><abbr title="Wikipedia">Wikipedia</abbr></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th><abbr title="Name">Name</abbr></th>
                    <th><abbr title="ID">ID</abbr></th>
                    <th><abbr title="Type">Type</abbr></th>
                    <th><abbr title="Active">Active</abbr></th>
                    <th><abbr title="Crew Capacity">Crew Capacity</abbr></th>
                    <th><abbr title="First Flight">First Flight</abbr></th>
                    <th><abbr title="Dry Mass kg/lbs">Dry Mass kg/lbs</abbr></th>
                    <th><abbr title="Launch payload Mass/Vol">Launch payload Mass/Vol</abbr></th>
                    <th><abbr title="Return payload Mass/Vol">Return payload Mass/Vol</abbr></th>
                    <th><abbr title="Description">Description</abbr></th>
                    <th><abbr title="Diameter">Diameter</abbr></th>
                    <th><abbr title="Wikipedia">Wikipedia</abbr></th>

                </tr>
            </tfoot>
            <tbody>
                <% for( let x=0; x < dragons.length; x++ ) { %>
                    <% let dragon=dragons[x] %>
                        <tr>
                            <th>
                                <%= dragon.name %>
                            </th>
                            <td>
                                <%= dragon.id %>
                            </td>
                            <td>
                                <%= dragon.type %>
                            </td>
                            <td>
                                <% if (dragon.active===true) { %>
                                    Active
                                    <% } else {%>
                                        Inactive
                                        <% } %>
                            </td>
                            <td>
                                <%= dragon.crew_capacity%>
                            </td>
                            <td>
                                <%= dragon.first_flight%>
                            </td>
                            <td>
                                <%= dragon.dry_mass_kg%>kg /
                                    <%= dragon.dry_mass_lb%>lbs
                            </td>
                            <td>
                                Mass: <br>
                                &nbsp&nbsp&nbsp&nbsp<%= dragon.launch_payload_mass.kg%>kg /
                                    <%= dragon.launch_payload_mass.kg%>lbs
                                        <br>
                                        volume: <br>
                                        &nbsp&nbsp&nbsp&nbsp<%= dragon.launch_payload_vol.cubic_meters%> cubic M /
                                            <%= dragon.launch_payload_vol.cubic_feet%> cubic ft
                            </td>
                            <td>
                                Mass: <br>
                                &nbsp&nbsp&nbsp&nbsp<%= dragon.return_payload_mass.kg%>kg /
                                    <%= dragon.return_payload_mass.kg%>lbs
                                        <br>
                                        volume: <br>
                                        &nbsp&nbsp&nbsp&nbsp<%= dragon.return_payload_vol.cubic_meters%> cubic M /
                                            <%= dragon.return_payload_vol.cubic_feet%> cubic ft
                            </td>
                            <td>
                                <%= dragon.diameter.meters%> meters /
                                    <%= dragon.diameter.feet%> feet
                            </td>

                            <td style="max-width: 1000px; word-wrap: break-word;">
                                <% if (dragon.description===null) { %>
                                    <%= 'None' %>
                                        <% } else {%>
                                            <%= dragon.description %>
                                                <% } %>
                            </td>
                            <td>
                                <a href="<%= dragon.wikipedia%>">Wikipedia</a>
                            </td>
                        </tr>
                        <% } %>
            </tbody>
        </table>
    </div>








</body>

</html>