<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="./">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/SpaceX-Logo.svg/2560px-SpaceX-Logo.svg.png"
                    width="150" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="./capsules">
                    Capsules
                </a>
                <a class="navbar-item" href="./cores">
                    Cores
                </a>
                <a class="navbar-item" href="./crew">
                    Crew
                </a>
                <a class="navbar-item" href="./dragons">
                    Dragons
                </a>
                <a class="navbar-item" href="./landpads">
                    Landpads
                </a>
                <a class="navbar-item" href="./launches">
                    Launches
                </a>
                <a class="navbar-item" href="./launchpads">
                    Launchpads
                </a>
                <a class="navbar-item" href="./payloads">
                    Payloads
                </a>
                <a class="navbar-item" href="./roadster">
                    Roadster
                </a>
                <a class="navbar-item" href="./rockets">
                    Rockets
                </a>
                <a class="navbar-item is-active" href="./ships">
                    Ships
                </a>
                <a class="navbar-item" href="./starlink">
                    Starlink
                </a>
                <a class="navbar-item" href="./history">
                    History
                </a>

                <!-- <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div> -->
            </div>


        </div>
    </nav>

    <div class="table-container">
        <table
            class="table is-fullwidth has-sticky-column is-narrow is-striped is-bordered is-hoverable has-sticky-header has-sticky-footer">
            <thead>
                <tr>
                    <th><abbr title="Name">Name</abbr></th>
                    <th><abbr title="Type">Type</abbr></th>
                    <th><abbr title="Active">Active</abbr></th>
                    <th><abbr title="Roles">Roles</abbr></th>
                    <th><abbr title="Home Port">Home Port</abbr></th>
                    <th><abbr title="Launches">Launches</abbr></th>
                    <th><abbr title="Year Built">Year Built</abbr></th>
                    <th><abbr title="Link">Link</abbr></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th><abbr title="Name">Name</abbr></th>
                    <th><abbr title="Type">Type</abbr></th>
                    <th><abbr title="Active">Active</abbr></th>
                    <th><abbr title="Roles">Roles</abbr></th>
                    <th><abbr title="Home Port">Home Port</abbr></th>
                    <th><abbr title="Launches">Launches</abbr></th>
                    <th><abbr title="Year Built">Year Built</abbr></th>
                    <th><abbr title="Link">Link</abbr></th>
                </tr>
            </tfoot>
            <tbody>
                <% for( let x=0; x < ships.length; x++ ) { %>
                    <% let ship=ships[x] %>
                        <tr>
                            <th>
                                <%= ship.name %>
                                    <br>
                                    <img src="<%= ship.image %>" alt="<%= ship.name %>" style="width: 400px;">
                            </th>
                            <td>
                                <%= ship.type %>
                            </td>
                            <td>
                                <% if (ship.active===true) { %>
                                    Active
                                    <% } else {%>
                                        Inactive
                                        <% } %>
                            </td>
                            <td>
                                <% for( let x=0; x < ship.roles.length; x++ ) { %>
                                    <%= ship.roles[x] %>
                                        <br>
                                        <% } %>

                            </td>
                            <td>
                                <%= ship.home_port %>
                            </td>
                            <td>
                                <% for( let x=0; x < ship.launches.length; x++ ) { %>
                                    <%= ship.launches[x] %>
                                        <br>
                                        <% } %>
                            </td>
                            <td>
                                <%= ship.year_built %>
                            </td>
                            <td>
                                <a href="<%= ship.link%>">Link</a>
                            </td>
                        </tr>
                        <% } %>
            </tbody>
        </table>
    </div>








</body>

</html>